# IDE releated configure files
.idea/*
test_data
bin/
.vscode/
.DS_Store
*.log
.history
*.bat

# Temp file during testing
*.test
.vscode/
cpu_profile
*gomock*
*.db

## Go

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bookhunter
bookhunter.*

# Go releaser
dist/

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
